/*
* Meta Information
*/
.container {
    position: fixed;
    left: 320px;
    top: 15%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.main-ini {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.widget {
    font-size: 14px;
    font-weight: normal;
    color: #fff;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.info-item {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.info-item label {
    font-weight: normal;
    width: 90px;
    font-size: 12px;
    color: #fff;
}

.info-item span.value {
    display: block;
    max-width: 350px;
    font-weight: normal;
    font-size: 12px;
    color: #fff;
    overflow: hidden;
    line-height: 1.2em;
    word-break: break-word;
}

.info-item span.value:not(#information) {
    white-space: nowrap;
    text-overflow: ellipsis;
}

#information {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    max-height: calc(1.2em * 5);
    overflow: hidden;
}

.div-line-Info {
    position: fixed;
    top: 52%;
    width: 450px;
    height: 1px;
    background-color: rgb(200, 200, 200);
    left: 320px;
}

.dark-mode .div-line-Info {
    background-color: rgb(60, 60, 60);
}