/*
* Meta Information
*/
.container {
    position: fixed;
    left: 320px;
    top: 15%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.main-ini {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.widget {
    font-size: 14px;
    font-weight: normal;
    color: #fff;
    width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.info-item {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.info-item label {
    font-weight: normal;
    width: 90px;
    font-size: 12px;
    color: #fff;
}

.info-item span.value {
    display: block;
    max-width: 350px;
    font-weight: normal;
    font-size: 12px;
    color: #fff;
    overflow: hidden;
    line-height: 1.2em;
    word-break: break-word;
}

.info-item span.value:not(#information) {
    white-space: nowrap;
    text-overflow: ellipsis;
}

#information {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    max-height: calc(1.2em * 5);
    overflow: hidden;
}

.div-line-Info {
    position: fixed;
    top: 56%;
    width: 450px;
    height: 1px;
    background-color: rgb(200, 200, 200);
    left: 320px;
}

.dark-mode .div-line-Info {
    background-color: rgb(60, 60, 60);
}

/*
* Add FlexInfo Text
*/
.add-flex-info {
    position: fixed;
    top: 50%;
    left: 320px;
    display: flex;
    align-items: center;
    gap: 2px;
    font-size: 12px;
    text-decoration: none;
    color: rgb(80, 230, 255);
}

.add-flex-info .icon {
    font-family: 'FluentSystemIcons';
    font-size: 14px;
}

.add-flex-info .text {
    color: inherit;
}

.add-flex-info:hover .icon,
.add-flex-info:hover .text {
    color: rgb(60, 200, 230);
    transition: color 0.3s ease;
}