body {
  margin: 0;
  font-family: sans-serif;
  transition: background 0.3s, color 0.3s;
  background-color: rgb(255,255,255);
  color: rgb(13 17 23);
}
.dark-mode {
  background-color: rgb(13 17 23);
  color: rgb(255,255,255);
}
