/*
*  Window Behaviour
*/

.container-positions {
    position: fixed;
    top: 60%;
    left: 320px;
    max-width: 320px;
    background: rgba(0, 0, 0, 0);
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
    gap: 6px;
    display: flex;
    flex-direction: column;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
}

.form-group label {
    display: inline-block;
    width: 100px;
    text-align: left;
    font-size: 14px;
}

.coords-input,
.load-order-input {
    background-color: #fff;
    color: rgb(10, 10, 10);
    border: 1px solid #ccc;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    height: 20px;
    padding: 2px 3px;
    font-size: 11px;
    border-radius: 3px;
    transition: border-color 0.2s, box-shadow 0.2s;
}

.coords-input {
    width: 50px;
}

.coords-input+.coords-input {
    margin-left: 14px;
}

.load-order-input {
    width: 125px;
}

.dark-mode .coords-input,
.dark-mode .load-order-input {
    background-color: rgb(13, 17, 23);
    color: rgb(255, 255, 255);
    border: 1px solid rgb(100, 100, 100);
    box-shadow: 0 1px 2px rgba(255, 255, 255, 0.05);
}

.coords-input:focus,
.load-order-input:focus,
.dark-mode .coords-input:focus,
.dark-mode .load-order-input:focus {
    border-color: rgb(80, 230, 255);
    box-shadow: 0 0 4px rgba(80, 230, 255, 0.5);
    outline: none;
}

.position-box,
.transparency-box,
.hover-box {
    margin-left: 0;
    width: 120px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    user-select: none;
    border-radius: 3px;
    padding: 0 6px;
    font-size: 11px;
    position: relative;
    transition: background-color 0.2s, box-shadow 0.2s, border-color 0.2s;
    background-color: rgb(230, 230, 230);
    color: rgb(10, 10, 10);
    border: 1px solid rgb(200, 200, 200);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.position-box::after,
.transparency-box::after,
.hover-box::after {
    content: "\F2A3";
    font-family: 'FluentSystemIcons';
    font-size: 11px;
    margin-left: 3px;
    transition: transform 0.3s;
}

.position-box.open::after,
.transparency-box.open::after,
.hover-box.open::after {
    transform: rotate(180deg);
}

.dark-mode .position-box,
.dark-mode .transparency-box,
.dark-mode .hover-box {
    background-color: rgb(13, 17, 23);
    color: rgb(255, 255, 255);
    border: 1px solid rgb(100, 100, 100);
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.05);
}

.position-menu,
.transparency-menu,
.hover-menu {
    position: absolute;
    z-index: 9999;
    top: 100%;
    left: 0;
    display: none;
    width: 130px;
    white-space: nowrap;
    font-size: 11px;
    transition: background-color 0.2s, box-shadow 0.2s, border-color 0.2s;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.position-menu.show,
.transparency-menu.show,
.hover-menu.show {
    display: block;
}

.position-menu a,
.transparency-menu a,
.hover-menu a {
    display: block;
    padding: 4px 8px;
    text-decoration: none;
    color: black;
    transition: background-color 0.2s;
}

.position-menu a:hover,
.transparency-menu a:hover,
.hover-menu a:hover {
    background-color: #e0e0e0;
}

.dark-mode .position-menu,
.dark-mode .transparency-menu,
.dark-mode .hover-menu {
    background-color: rgb(6, 9, 15);
    border: 1px solid rgb(100, 100, 100);
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.05);
}

.dark-mode .position-menu a,
.dark-mode .transparency-menu a,
.dark-mode .hover-menu a {
    color: rgb(255, 255, 255);
}

.dark-mode .position-menu a:hover,
.dark-mode .transparency-menu a:hover,
.dark-mode .hover-menu a:hover {
    background-color: rgb(20, 25, 33);
}

/*
  * Check Boxes Content
  */
.checkbox-container {
    position: fixed;
    top: 57%;
    left: 630px;
    margin-top: 12px;
}

.checkbox-container .option {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    line-height: 0.8;
}

.checkbox-container .check-box {
    display: inline-block;
    width: 22px;
    text-align: center;
    margin-right: 12px;
    cursor: pointer;
    user-select: none;
    font-family: 'FluentSystemIcons';
    font-size: 20px;
    color: rgb(100, 100, 100);
}

.checkbox-container .check-box::before {
    content: "\F292";
}

.checkbox-container label {
    font-size: 12px;
    color: inherit;
    cursor: pointer;
    line-height: 1.6;
}

.dark-mode .checkbox-container .check-box {
    color: rgb(180, 180, 180);
}

.dark-mode .checkbox-container label {
    color: rgb(230, 230, 230);
}