:root {
    --font-color: rgb(13, 17, 23);
    --bg-color: rgb(255, 255, 255);
    --border-color: rgb(200, 200, 200);
    --btn-bg: rgb(230, 230, 230);
    --btn-hover-bg: rgb(210, 210, 210);
    --highlight-color: rgb(10, 10, 10);
    --divider-color: rgb(200, 200, 200);
    --scrollbar-color: rgb(80, 230, 255);
  }
  
  .dark-mode {
    --font-color: rgb(255, 255, 255);
    --bg-color: rgb(13, 17, 23);
    --border-color: rgb(60, 60, 60);
    --btn-bg: rgb(13, 17, 23);
    --btn-hover-bg: rgb(30, 35, 42);
    --highlight-color: rgb(255, 255, 255);
    --divider-color: rgb(60, 60, 60);
  }
  
  @font-face {
    font-family: 'FluentSystemIcons';
    src: url('../../Fonts/FluentSystemIcons-Regular.woff2') format('woff2'),
         url('../../Fonts/FluentSystemIcons-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  body {
    background-color: var(--bg-color);
    color: var(--font-color);
    font-family: system-ui, sans-serif;
    transition: background-color 0.3s, color 0.3s;
  }


  /* Tabs */
.tabs {
  display: flex;
  gap: 10px;
  margin: 20px;
}

.tab-button {
  padding: 10px 30px;
  background-color: var(--btn-bg);
  border: 1px solid var(--border-color);
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
  color: var(--font-color);
  transition: background-color 0.3s, color 0.3s;
}

/* Active Tab Styling */
.tab-button.active {
  background-color: var(--tabActive-highlight-color);
  color: var(--tabFont-color);
  border-color: var(--tabBorder-highlight-color);
  font-weight: bold;
  text-decoration: none;
}

.tab-button:hover:not(.active) {
  background-color: var(--btn-hover-bg);
}

.rectangle {
  position: fixed;
  top: 70px;
  left: 25px;
  width: 840px;
  height: 270px;
  border-radius: 4px;
  border: 1px solid var(--border-color);
  background-color: var(--bg-color);
  background: transparent;
}

/* Logs Table */

.logs-container {
  position: fixed; 
  width: 841px;
  height: 270px;
  top: 70px;
  left: 25px;
  margin: 0 auto;
  overflow-x: auto;
  overflow-y: auto;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Optional visual enhancement */
}

.logs-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  background-color: var(--bg-color);
  color: var(--font-color);
  font-size: 12px; 
}

.logs-column {
  width: 150px;
}

.logs-column.message {
  width: 300px;
}

.logs-header,
.logs-cell {
  border: 1px solid var(--border-color);
  padding: 4px 8px; 
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: var(--bg-color);
  color: var(--font-color);
}

.logs-header {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: var(--bg-color);
  box-shadow: inset 0 1px 0 var(--border-color), 0 2px 2px rgba(0, 0, 0, 0.05);
}


.logs-resize-handle {
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  cursor: col-resize;
  user-select: none;
  background-color: var(--border-color);
}

.logs-rectangle {
  position: fixed;
  top: 66px;
  left: 25px;
  width: 840px;
  height: 5px;
  background-color: var(--bg-color);
}

.logs-container::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.logs-container::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 4px;
}

.logs-container::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color);
  border-radius: 4px;
}

.logs-container::-webkit-scrollbar-corner {
  background: transparent;
}

.icon {
  font-family: 'FluentSystemIcons';
  font-size: 16px;
  display: inline-block;
  width: 20px;
  text-align: center;
  margin-right: 6px;
  vertical-align: middle;
}

.icon.info { color: #0078D4; }   /* Blue */
.icon.warning { color: #FFB900; } /* Yellow */
.icon.debug { color: #107C10; }  /* Green */
.icon.error { color: #D13438; }  /* Red */

/*Logs Filter*/
.checkbox-icon {
  font-family: 'FluentSystemIcons';
  font-size: 18px;
  cursor: pointer;
  margin-right: 8px;
  vertical-align: middle;
  transition: color 0.3s ease;
}
.checkbox-icon.checked {
  color: rgb(80, 230, 255);
}

.log-filters {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: var(--bg-color);
  padding: 10px 20px;
  display: flex;
  font-size: 12px;
  gap: 18px;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.log-filter-item {
  display: flex;
  align-items: center;
  cursor: pointer;
}